@model SHS.Models.ViewModels.ImportFileViewModel

<div class="px-5 py-5">
    <form action="/Agent/ImportExcel" enctype="multipart/form-data" method="POST">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">上傳檔案</label>
            <div class="col-sm-6">
                <input class="form-control-file file-input" type="file" asp-for="ImportFile" />
                <span class="text-danger" asp-validation-for="ImportFile"></span>
            </div>
        </div>
        <div class="btn-group mt-3" role="group">
            <button type="submit" class="btn btn-success">上傳</button>
            <button type="button" class="btn btn-danger modal-close">取消</button>
        </div>
    </form>
</div>

<partial name="~/Views/Shared/Scripts/_ValidationScripts.cshtml" />
<partial name="~/Views/Shared/Scripts/_ModalScripts.cshtml" />
