@model IEnumerable<SHS.Models.ViewModels.AgentViewModel>

<partial name="~/Views/Shared/Components/_Alert.cshtml"/>
<partial name="~/Views/Shared/Components/_Modal.cshtml"/>
<div class="py-3">
    <a href="" class="modal-href py-5" data-toggle="modal" data-target=".modal"
        data-url="/Agent/Create">Create</a>
    <a href="" class="modal-href px-5 py-5" data-toggle="modal" data-target=".modal"
        data-url="/Agent/ImportExcel">Import</a>
</div>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>No.</th>
                <th>姓名</th>
                <th>業務員編號</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="row-count-td"></td>
                    <td>@Html.DisplayFor(model => item.Name)</td>
                    <td>@Html.DisplayFor(model => item.AgentNo)</td>
                    <td>
                        <a href="" class="modal-href" data-toggle="modal" data-target=".modal"
                        data-url="/Agent/Detail?idNo=@item.IdNo">Detail</a>
                    </td>
                    <td>
                        <a href="" class="modal-href" data-toggle="modal" data-target=".modal"
                        data-url="/Agent/Edit?idNo=@item.IdNo">Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section scripts
{
    <script>
        $(".modal-href").click(function(){
            $(".modal-content").load($(this).data("url"));
        });
    </script>
}
